@{
    ViewData["Title"] = "Errore HTTP";
    int statusCode = Convert.ToInt32(ViewContext.HttpContext.Request.Query["statusCode"]);  //recupera il codice di stato HTTP (es. 404, 500) dalla query string della richiesta e lo converte in intero.

    string defaultMessage = statusCode switch           // Usa uno switch expression per associare un messaggio descrittivo al codice HTTP.
    {
        400 => "La richiesta non è valida.",
        401 => "Accesso non autorizzato. Effettua il login.",
        403 => "Accesso negato. Non sei autorizzato ad accedere a questa sezione.",
        404 => "La pagina richiesta non è stata trovata.",
        409 => "Conflitto nella modifica.",
        500 => "Errore generico del server.",
        503 => "Connessione interrotta con il manager",

        _ => "Si è verificato un errore imprevisto."
    };
}

<div class="container mt-5 text-center">
    <h1 class="display-4">Errore @statusCode</h1>
    <p class="lead mt-3">@defaultMessage</p>

    @if (TempData["ServerMessage"] != null && statusCode != 403)
    {
        <div class="alert alert-danger mt-4">
            <strong>Messaggio del server:</strong> @TempData["ServerMessage"]
        </div>
    }

    <a class="btn btn-primary mt-4" href="@Url.Action("Index", "Home")">
        Torna alla Home
    </a>
</div>
